<section class="Suggestions subPage">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="DiscoverHeader clearfix">
                        <h4> {{contentTitle|translate}}</h4>
                    </div>
                    
                    <div class="chatRequestBox clearfix">                       
                        <p ng-bind-html="content"></p>
                    </div>
                    
                </div>


            </div>
        </div>
    </section>
