    <section class="profileDetails passwordpage">   
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg- col-md-6 ">

                    <form name="reset" ng-submit="_resetPassword(row)"  class="modalForm quickSearch passwordForm">
                        <div class="form-group text-center" ng-if="msg">
                          <label for="Remember" class="rememberPass" ng-class ="{'required':!status,'success':status}" >{{msg}}</label>
                        </div> 

                        <div ng-if="display_old" class="form-group">
                            <label>{{'Old Password'|translate}} <ss class="required"> * </ss></label>
                            <input required ng-model="row.old_password" type="password" class="form-control" placeholder="{{'Enter'|translate}} {{'Old Password'|translate}}">
                             
                        </div>
                        <div class="form-group passwordFormGroup">
                            <label>{{'New Password'|translate}} <ss class="required"> * </ss></label>
                            <input ng-model="row.password"  type="password" class="form-control" placeholder="{{'Enter'|translate}} {{'New Password'|translate}}">
                            <div class="form-group text-center" ng-if="errors.password">
                              <label for="Remember" class="rememberPass required" >{{errors.password[0]}}</label>
                            </div> 
                        </div>
                        <div class="form-group passwordFormGroup">
                            <label>{{'Confirm password'|translate}}<ss class="required"> * </ss></label>

                            <input required  ng-model="row.confirm_password" type="password" class="form-control" placeholder="{{'Enter'|translate}} {{'Confirm password'|translate}}">
                            <div class="form-group text-center" ng-if="errors.confirm_password">
                              <label for="Remember" class="rememberPass required" >{{errors.confirm_password[0]}}</label>
                            </div> 
                        </div>
                        <button ng-disabled="reset.$invalid" class="btn joinBtn save" type="submit">{{'Reset'|translate}}</button>
            
                    </form>
                </div>
            </div>
        </div>
    </section>