<section class="Suggestions subPage">
    <div class="container">
        <div>
            <div class="quickSearch SortBy quickStoryImg">
                <img class="story_img " ng-src="{{story.image}}" alt="">
            </div>              
        </div>
        <div class="DiscoverHeader mar_story">
            <h4 class="ng-binding">{{story.translation_all.title}}</h4>
        </div>
        <div>
            <h3 class="storyTitle">{{story.created_date}}</h3>
        </div>
        <div class="DiscoverHeader">
            <h4 class="storyDesc">{{story.translation_all.description}}</h4>
        </div>
    </div>
</section>



