<section class="Suggestions subPage">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="DiscoverHeader clearfix">
                        <h4> {{'Chats'|translate}}</h4>
                    </div>
                    <div class="quickSearch SortBy searchBox paddind_box">
                        <form class=" text-center">
                            <div class="form-group clearfix">
                                <i class="fas fa-search search_icon"></i>
                                <input ng-model="searchName" type="text" class="search_width form-control search-form-contol" placeholder="{{'Search'|translate}}">
                            </div>
                        </form>
                    </div>
                    <div class="chatRequestBox clearfix" ng-repeat = "chat in chats.slice().reverse()  | filter:searchName" ng-if="logged_user.id == chat.reciver.id || logged_user.id == chat.sender.id">
                        <div class="chatRequestBoxImg">
                            <img class="gallary-img" ng-src="{{logged_user.id == chat.sender.id?chat.reciver.photo:chat.sender.photo}}" alt="">
                        </div>
                        <a  ng-href="#/chat/{{logged_user.id == chat.sender.id?chat.reciver.id:chat.sender.id}}" class="chatRequestBoxDetails">
                            <h3>{{logged_user.id == chat.sender.id?chat.reciver.name:chat.sender.name}} </h3>
                            <span>{{logged_user.id == chat.sender.id?chat.reciver.age:chat.sender.age}} {{'Years Old'|translate}}.</span>
                            <li  class="Message">
                               {{chat.last_message}}
                            </li>
                        </a>
                    </div>
                    
                </div>


            </div>
        </div>
    </section>
